@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/redaction/Redaction_35-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/redaction/Redaction_35-Italic.woff2') format('woff2');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/redaction/Redaction_35-Regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100dvh;
  }
}

html,
body {
  overscroll-behavior-x: none;
}

html,
body,
#root {
  height: stretch;
  height: 100%;
  overflow: hidden;
}

canvas {
  touch-action: none;
  overflow: hidden;
}
